.wrapper {
  background: rgb(229, 9, 20);
  color: var(--tx-color);
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login {
  font-weight: 500;
  font-size: 1rem;
  padding: 10px 15px;
  border-radius: 25px;
  transition: 0.3s;
  &:hover {
    background-color: rgb(160, 13, 20);
  }
}
