:root {
  --bg-color: black;
  --tx-color: white;
  --link-color: #e5e5e5;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  letter-spacing: 0 !important;
  user-select: none;
}

body {
  background-color: var(--bg-color);
  color: var(--tx-color);
  font-family: "MyFont", sans-serif;
}

@font-face {
  font-family: "MyFont";
  src: url("../../assets/fonts/NetflixSans_W_Blk.woff2");
  font-weight: 700;
}
@font-face {
  font-family: "MyFont";
  src: url("../../assets/fonts/NetflixSans_W_Bd.woff2");
  font-weight: 600;
}
@font-face {
  font-family: "MyFont";
  src: url("../../assets/fonts/NetflixSans_W_Md.woff2");
  font-weight: 500;
}
@font-face {
  font-family: "MyFont";
  src: url("../../assets/fonts/NetflixSans_W_Rg.woff2");
  font-weight: 400;
}

button,
input,
[tabindex] {
  outline: none;
  border: none;
}

a {
  color: var(--link-color);
  border-radius: 0.125rem;
  text-decoration: none;
}
