.inner {
  height: 69px;
  padding: 0 68px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;
  background-color: transparent;
  transition: all 0.2s ease-in-out;
  &.black {
    background-color: var(--bg-color);
  }
}

.nav {
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
  .logo {
    width: 90px;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      cursor: pointer;
    }
  }
  ul {
    margin-left: 40px;
    list-style-type: none;
    display: inline-flex;
    color: var(--link-color);
    font-size: 18px;
    .icon {
      margin-left: 5px;
      height: 20px;
      width: 20px;
      &:hover {
        color: red;
      }
    }
    li {
      padding-right: 20px;
      cursor: pointer;
      &::after {
        display: block;
        content: attr(title);
        font-weight: 800;
        height: 1px;
        color: transparent;
        overflow: hidden;
        visibility: hidden;
      }
      a.active {
        color: var(--tx-color);
        font-weight: 800;
        font-size: 18px;
      }
      a:hover {
        color: red;
      }
    }
  }
}

.second-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  gap: 40px;
  // .icon {
  //   width: 60px;
  //   height: 30px;
  //   font-size: 1.5rem;
  //   cursor: pointer;
  //   &:hover {
  //     color: red;
  //   }
  // }
  .icon {
    height: 100%;
    cursor: pointer;
    &:hover {
      color: red;
    }
  }
  .avatar {
    display: flex;
    align-items: center;
    img {
      width: 30px;
      object-fit: cover;
      border-radius: 10px;
      cursor: pointer;
    }
  }
}

.container {
  display: flex;
  align-items: center;
  position: relative;
  height: auto;
  padding: 5px 40px 5px 10px;
  margin-right: -5px;
  width: 40px;
  border-radius: 8px;
  overflow: hidden;
  transition: all 0.3s ease-in;
  background-color: transparent;

  &.open {
    width: 300px;
    background: radial-gradient(
      circle,
      rgba(2, 0, 36, 1) 14%,
      rgba(255, 0, 0, 1) 17%
    );
    input {
      background-color: black;
    }
    .icon_search {
      &:hover {
        color: black;
      }
    }
  }
  .icon_search {
    height: 30px;
    position: absolute;
    right: 5px;
    cursor: pointer;
    &:hover {
      color: red;
    }
  }
  input {
    background-color: transparent;
    color: white;
    font-size: 1.2rem;
    padding: 5px 10px 5px 10px;
    height: 100%;
    width: 100%;
    user-select: none;
    caret-color: red;
  }
}
