.background {
  position: relative;
  height: 95vh;
  width: 100%;
  border-bottom: 8px solid #232323;
  overflow: hidden;
  img {
    position: absolute; /* thêm thuộc tính position và giá trị absolute để hình ảnh nằm trên cùng */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.25) translateY(-10%);
    z-index: -1; /* thêm thuộc tính z-index và giá trị -1 để đặt hình ảnh phía sau */
  }
  .blur {
    background: rgb(0 0 0 / 40%);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.8) 0,
      rgba(0, 0, 0, 0) 60%,
      rgba(0, 0, 0, 0.8) 100%
    );
  }
}
.title {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 150px;
  h1 {
    margin: 0;
    font-size: 3rem;
    font-weight: 700;
  }
  h4 {
    margin: 1rem 0 0;
    font-size: 1.5rem;
    font-weight: 400;
  }
  p {
    margin-top: 1rem;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 2.5rem;
  }
}
